nav {
    color:var(--white);
    height:var(--header-height);
    background-color:var(--blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
}

.nav-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.nav-right, .nav-left, a {
    padding-left: 10px;
}

.link-container {
    display: flex;
    font-weight: 400;
    font-size: 16px;
}

.logo {
    width: 40.85px;
    height: 29.6px;
}