.banner {
    height: "60vh";
    width: 100%;
    background-image: '../../assets/cover-img.png';
    background-repeat: "no-repeat";
    background-size: 'cover';
    background-position: 'center';
    position: "relative";
}